services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./core:/app
      - ./staticfiles:/app/staticfiles
    depends_on:
      - db
      - redis
    env_file:
      - .env
    ports:
      - "8000:8000"


  db:
    image: postgis/postgis:17-3.4
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "${POSTGRES_HOST_PORT}:${POSTGRES_CONTAINER_PORT}"

  pgadmin:
    image: dpage/pgadmin4
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - db

  redis:
    image: redis:alpine


volumes:
  postgres_data:
  pgadmin_data:
